{% extends 'base.html.twig' %}
{%  block stylesheets %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/masks.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/cliente/editar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/cliente/cliente.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="perfil">
    <div class="col-md-3 ">
        <div class="list-group ">
            <a href="#" class="list-group-item list-group-item-action active">Informações pessoais</a>
            <a href="#" class="list-group-item list-group-item-action">Pagamento</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success" hidden></div>
                        <div class="alert alert-danger" hidden></div>
                    </div>
                    <h4>Seu perfil</h4>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form method="POST" action="/cliente/editar" id="form_cliente_editar">
                            <input id="id_cliente" name="id_cliente" value="{{ cliente.idCliente }}" type="text" hidden>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Nome*</label>
                                <div class="col-8">
                                    <input id="nome_cliente" name="nome_cliente" value="{{ app.user.username }}" class="form-control here" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">Sobrenome*</label>
                                <div class="col-8">
                                    <input id="nme_sobrenome_cliente" name="nme_sobrenome_cliente" value="{{ cliente.nmeSobrenomeCliente }}" class="form-control here" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="select" class="col-4 col-form-label">Data de Nascimento*</label>
                                <div class="col-8">
                                    <input id="dta_nasc_cliente" name="dta_nasc_cliente" value="{{ cliente.dtaNascCliente }}" class="form-control here" required="required" type="date">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email*</label>
                                <div class="col-8">
                                    <input id="eml_cliente" name="eml_cliente" class="form-control here" value="{{ cliente.emlCliente }}" required="required" type="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="publicinfo" class="col-4 col-form-label">Endereço*</label>
                                <div class="col-8">
                                    <input id="end_cliente" name="end_cliente" class="form-control here" value="{{ cliente.endCliente }}" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">Telefone*</label>
                                <div class="col-8">
                                    <input id="tel_cliente" name="tel_cliente" class="form-control here" maxlength="11" value="{{ cliente.telCliente }}" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">CPF*</label>
                                <div class="col-8">
                                    <input id="cpf_cliente" name="cpf_cliente" class="form-control here" maxlength="11" value="{{ cliente.cpfCliente }}" placeholder="000.000.000-00" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="website" class="col-4 col-form-label">RG*</label>
                                <div class="col-8">
                                    <input id="rg_cliente" name="rg_cliente" class="form-control here" maxlength="7" type="text" value="{{ cliente.rgCliente }}" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">Senha*</label>
                                <div class="col-8">
                                    <input id="pwd_cliente" name="pwd_cliente" value="{{ app.user.password }}" class="form-control here" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">Nova senha</label>
                                <div class="col-8">
                                    <input id="novasenha" name="novasenha"  class="form-control here" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-4 col-8">
                                    <button name="submit" type="submit" class="btn btn-primary center-block">Atualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}


