{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-sm-12">
<meta charset="utf-8">
<h2 class="page-header">Ver Produto</h2>
<a class="btn btn-default" href="/admin/produtos">Voltar</a>
<hr>
		<h2 class="page-header">{{ produto.nmeProduto }}</h2>
		<ul class="list-group">
		<li class="list-group-item">Descrição: {{ produto.dscProduto }}</li>
		<li class="list-group-item">Valor: {{ produto.vlrProduto }}</li>
		<li class="list-group-item">Status Inventário: {{ produto.stsInventarioProduto }}</li>
		<li class="list-group-item">Peso: {{ produto.vlrPesoProduto }}</li>
		<li class="list-group-item">Categoria_Subcategoria: {{ produto.codCategoriaSubcategoria.categoriaCategoria.nmeCategoria }} / {{ produto.codCategoriaSubcategoria.subcategoriaSubcategoria.nmeSubcategoria }}</li>

		</ul>
		</div>
		</div>
		</div>
{% endblock %}
