{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
<div class="row">
<div class="col-sm-12">
<meta charset="utf-8">
<h2 class="page-header">Produtos</h2>
<a class="btn btn-default" href="/admin">Voltar</a>
<a class="btn btn-default" href="/admin/produto/cadastrar">Novo</a>
<hr>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Valor(R$)</th>
			<th>Status Inventário</th>
			<th>Peso(g)</th>
			<th>Categoria_Subcategoria</th>
		</tr>
	</thead>
	<tbody>

		{% for prod in produto %}
		<tr>
			<th scope="row">{{ prod.idProduto }}</th>
			<td>{{ prod.nmeProduto }}</td>
			<td>{{ prod.dscProduto }}</td>
			<td>{{ prod.vlrProduto }}</td>
			<td>{{ prod.stsInventarioProduto }}</td>
			<td>{{ prod.vlrPesoProduto }}</td>
			<td>{{ prod.codCategoriaSubcategoria.categoriaCategoria.nmeCategoria }} / {{ prod.codCategoriaSubcategoria.subcategoriaSubcategoria.nmeSubcategoria }}</td>


			<td><a href="/admin/produto/detalhes/{{ prod.idProduto }}" class="btn btn-success">Ver</a>
			<a href="/admin/produto/editar/{{ prod.idProduto }}" class="btn btn-default">Editar</a>
			<a href="/admin/produto/deletar/{{ prod.idProduto }}" class="btn btn-danger">Deletar</a>
			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
