{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-sm-12">
<meta charset="utf-8">
<a class="btn btn-default" href="/admin">Voltar</a>
<a class="btn btn-default" href="/admin/produtoitem/cadastrar">Novo</a>
<hr>
<h2 class="page-header">Produto Item</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Código Produto</th>
			<th>Código Item</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		{% for produtoitem in produtoitens %}
			<th scope="row">{{ produtoitem.idProdutoItem }}</th>
			<td>{{ produtoitem.codProduto.nmeProduto }}</td>
			<td>{{ produtoitem.codItem.nomeItem }}</td>
			<td><a href="/admin/produtoitem/detalhes/{{ produtoitem.idProdutoItem }}" class="btn btn-success">Ver</a>
			<a href="/admin/produtoitem/editar/{{ produtoitem.idProdutoItem }}" class="btn btn-default">Editar</a>
			<a href="/admin/produtoitem/deletar/{{ produtoitem.idProdutoItem }}" class="btn btn-danger">Deletar</a>
			</td>
			</tr>
		{% endfor %}

	</tbody>
</table>
</div>
</div>
</div>

{% endblock %}
